:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-bcg-color: #ffffff;
  --secondary-bcg-color: #f5f4fa;
  --third-bcg-color: #2f303a;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  background-color: var(--primary-bcg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button {
  border: transparent;
  border-radius: 4px;
  font-family: inherit;
  cursor: pointer;
}

.primary-btn {
  height: 50px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.primary-btn:focus, .primary-btn:hover {
  background-color: #188ce8;
}

.site-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.site-logo--dark {
  color: #000000;
}

.site-logo--light {
  color: var(--third-text-color);
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item {
  margin-right: 10px;
  height: 44px;
  width: 44px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}

.socials__icon {
  fill: #afb1b8;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--third-text-color);
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
}

.page-header__site-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
}

.navigation-item {
  position: relative;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link,
.auth-nav__link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.navigation-link {
  color: var(--secondary-text-color);
}

.navigation-link:hover, .navigation-link:focus {
  color: var(--accent-color);
}

.navigation-link--current {
  color: var(--accent-color);
}

.navigation-link--current::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -1px;
  display: block;
  border-radius: 4px;
  height: 4px;
  background-color: var(--accent-color);
}

.auth-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.auth-nav__item:not(:last-child) {
  margin-right: 30px;
}

.auth-nav__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
}

.auth-nav__logo {
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav__link:hover .auth-nav__logo,
.auth-nav__link:focus .auth-nav__logo {
  fill: currentColor;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--third-bcg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-background.jpg);
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.advantage {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.advantage__item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
}

.advantage__logo-box {
  margin-bottom: 30px;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  background-color: var(--secondary-bcg-color);
  border-radius: 4px;
}

.advantage__heading {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.advantage__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section--no-padding-top {
  padding-top: 0;
}

.specification {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.specification__item {
  position: relative;
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
}

.specification__heading {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--third-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.section--secondary-bcg {
  background-color: var(--secondary-bcg-color);
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team__item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
}

.team__img {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-bcg-color);
  text-align: center;
}

.team__heading {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 19px;
}

.team__heading,
.team__text {
  background-color: var(--primary-bcg-color);
}

.clients {
  display: flex;
}

.clients__item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}

.clients__item:last-child {
  margin-right: 0;
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--transition-duration) var(--transition-timing-function);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__icon {
  fill: #afb1b8;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item {
  margin-right: 8px;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bcg-color);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}

.filter__btn:last-child {
  margin-right: 0;
}

.filter__btn:hover, .filter__btn:focus {
  color: var(--third-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-left: -30px;
}

.portfolio__item {
  margin-bottom: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.portfolio__link {
  display: block;
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.portfolio__link:focus, .portfolio__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__popup {
  position: absolute;
  top: 0;
  transform: translateY(101%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  height: 100%;
  overflow: auto;
  padding: 63px 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio__link:hover .portfolio__popup,
.portfolio__link:focus .portfolio__popup {
  transform: translateY(0%);
}

.portfolio__content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.footer {
  padding: 60px 0px;
  background-color: var(--third-bcg-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__site-logo {
  margin-bottom: 20px;
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
  display: block;
}

.adress__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.adress__link--light {
  color: var(--third-text-color);
}

.adress__link--dark {
  color: rgba(255, 255, 255, 0.6);
}

.footer__first-wrap {
  margin-right: 70px;
  flex-grow: 1;
}

.footer__action {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.footer__socials-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.footer__socials-link:focus, .footer__socials-link:hover {
  background-color: var(--accent-color);
}

.footer__socials-logo {
  fill: var(--third-text-color);
}

.footer__third-wrap {
  margin-left: 93px;
}

.form-subscription__input {
  height: 50px;
  width: 358px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.8);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.form-subscription__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscription__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

.form-subscription__btn-icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
  opacity: 1;
  visibility: visible;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--primary-bcg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: unset;
}

.modal__close-icon {
  fill: #000000;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal__close-button:hover .modal__close-icon,
.modal__close-button:focus .modal__close-icon {
  fill: var(--accent-color);
}

.modal__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-field {
  margin-bottom: 10px;
}

.modal__form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__form-input,
.modal__form-comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition-duration) var(--transition-timing-function);
}

.modal__form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
}

.modal__form-input:focus {
  border: 1px solid #2196f3;
  outline: transparent;
}

.modal__input-wrap {
  display: block;
  position: relative;
}

.modal__icon-input {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal__form-input:focus-within + .modal__icon-input {
  fill: var(--accent-color);
}

.modal__textarea-field {
  margin-bottom: 20px;
}

.modal__form-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.modal__form-comment:focus {
  border: 1px solid #2196f3;
  outline: transparent;
}

.modal__form-comment::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox-field {
  margin-bottom: 30px;
}

.modal__checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal__checkbox-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
  transition: border var(--transition-duration) var(--transition-timing-function), background var(--transition-duration) var(--transition-timing-function);
}

.modal__form-checkbox:checked + .modal__checkbox-label > .modal__checkbox-icon-wrap {
  background-color: var(--accent-color);
  border: transparent;
}

.modal__checkbox-link {
  color: var(--accent-color);
}

.modal__button {
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */