@import url(../utils/_vars.scss);
@import url(../utils/_vars.scss);
@import url(../utils/_vars.scss);
@import url(../utils/_vars.scss);
@import url(../utils/_vars.scss);
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "Inter Tight", sans-serif;
  color: #15161a;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--hidden-for-mob-tab {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section--hidden-for-mob-tab {
    display: block;
  }
}

.section--hidden-for-mob {
  display: none;
}
@media screen and (min-width: 768px) {
  .section--hidden-for-mob {
    display: block;
  }
}

.section--no-padding-top {
  padding-top: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1520px) {
  .container {
    max-width: 1560px;
  }
}

.button {
  padding: 18px 30px;
  font-family: inherit;
  font-size: 16px;
  color: #ffffff;
  background-color: #64B500;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.contact-component {
  display: flex;
  align-items: center;
  gap: 15px;
}

.contact-component:hover .contact-component__icon {
  background-color: #64B500;
}

.contact-component:hover .contact-component__text {
  color: #64B500;
}

.contact-component__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #8C8C8C;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-component__text {
  max-width: 221px;
  font-weight: 600;
  color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-component__text--dark {
  font-weight: 600;
  color: #15161a;
}

.navigation-component__list {
  display: flex;
  gap: 40px;
}

.navigation-component__link {
  color: #15161a;
  font-weight: 600;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-component__link--light {
  color: #ffffff;
  font-weight: 500;
}
.navigation-component__link--light:hover {
  color: #64B500;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
  opacity: 1;
  visibility: visible;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hero {
  padding: 118px 15px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--third-bcg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mob/hero-mob.jpg");
  background-size: cover;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mob/hero-mob-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tab/hero-tab.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tab/hero-tab-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desk/hero-desk.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desk/hero-desk-2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-bcg-color);
  transform: translateY(0);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.mobile-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.mobile-menu__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
}

.menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 10px;
  margin-right: 15px;
  background-color: transparent;
}
.mobile-menu .menu-btn {
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn__icon {
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.menu-btn:hover .menu-btn__icon, .menu-btn:focus .menu-btn__icon {
  fill: var(--accent-color);
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.mob-nav__link:hover, .mob-nav__link:focus {
  color: var(--accent-color);
}

.mob-nav__link--current {
  color: var(--accent-color);
}

.mob-auth {
  margin-bottom: 64px;
}

.mob-auth__item + .mob-auth__item {
  margin-top: 32px;
}

.mob-auth__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.mob-auth__link:hover, .mob-auth__link:focus {
  color: var(--accent-color);
}

.mob-auth__link--big-text {
  font-size: 26px;
  line-height: 1.1538461538;
}
@media screen and (min-width: 480px) {
  .mob-auth__link--big-text {
    font-size: 34px;
    line-height: 1.1764705882;
  }
}

@media screen and (min-width: 480px) {
  .mobile-socials {
    display: flex;
    align-items: center;
  }
}

.mobile-socials__link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (max-width: 479px) {
  .mobile-socials__link {
    text-align: center;
  }
  .mobile-socials__link:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 480px) {
  .mobile-socials__line {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    height: 22px;
    width: 1px;
    background-color: rgba(33, 33, 33, 0.2);
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-field {
  margin-bottom: 10px;
}

.modal__form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__form-input,
.modal__form-comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition-duration) var(--transition-timing-function);
}

.modal__form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
}
.modal__form-input:focus {
  border: 1px solid #2196f3;
  outline: transparent;
}

.modal__input-wrap {
  display: block;
  position: relative;
}

.modal__icon-input {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal__form-input:focus-within + .modal__icon-input {
  fill: var(--accent-color);
}

.modal__textarea-field {
  margin-bottom: 20px;
}

.modal__form-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.modal__form-comment:focus {
  border: 1px solid #2196f3;
  outline: transparent;
}
.modal__form-comment::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox-field {
  margin-bottom: 30px;
}

.modal__checkbox-label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .modal__checkbox-label {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .modal__checkbox-label {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.modal__checkbox-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
  transition: border var(--transition-duration) var(--transition-timing-function), background var(--transition-duration) var(--transition-timing-function);
}
.modal__form-checkbox:checked + .modal__checkbox-label > .modal__checkbox-icon-wrap {
  background-color: var(--accent-color);
  border: transparent;
}

.modal__checkbox-link {
  color: var(--accent-color);
}

.modal__button {
  margin: 0 auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  padding: 40px;
  background-color: var(--primary-bcg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}
@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: unset;
}

.modal__close-icon {
  fill: #000000;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal__close-button:hover .modal__close-icon, .modal__close-button:focus .modal__close-icon {
  fill: var(--accent-color);
}

.modal__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.5;
  }
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 12px 0;
  width: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__container {
  height: 100%;
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__right {
  display: flex;
  align-items: center;
}

.page-header__navigation {
  margin-right: 56px;
}

.page-header__navigation-list {
  display: flex;
  gap: 40px;
}

.page-header__navigation-link {
  font-weight: 500;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__navigation-link:hover {
  color: #64B500;
}

.page-header__contacts {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 20px;
}

.page-header__button {
  margin-right: 20px;
}

.page-header__container {
  height: 100%;
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__right {
  display: flex;
  align-items: center;
}

.page-header__navigation {
  margin-right: 56px;
}

.page-header__contacts {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 20px;
}

.page-header__button {
  margin-right: 20px;
}

.page-header__localisation {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.page-header__localisation-text {
  font-weight: 500;
  color: #ffffff;
}

.footer {
  padding-top: 100px;
}

.footer-first {
  margin-bottom: 20px;
}

.footer-second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-second__contacts {
  display: flex;
  gap: 55px;
}

.footer-third {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  color: #8C8C8C;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  white-space: nowrap;
  border-top: 1px solid #8C8C8C;
}

.footer-third__center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 25px;
  align-items: center;
}/*# sourceMappingURL=main.css.map */