// utils
@import "./utils/vars";
@import "./utils/hidden";
@import "./utils/swiper";

// base
@import "./base/reset";
@import "./base/section";
@import "./base/container";

// components
@import "./components/btn";

// components/form
@import "./components/form";

// layout
@import "./layout/page-header";
@import "./layout/footer";
@import "./layout/backdrop";
@import "./layout/mobile-menu";
@import "./layout/modal";

// layout/sections
@import "./layout/sections/hero";
@import "./layout/sections/advantages";
@import "./layout/sections/services";
@import "./layout/sections/comparison";
@import "./layout/sections/help";

.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 55px;
  height: 55px;
  min-width: 55px;
  min-height: 55px;

  background-color: var(--accent-color);
  border-radius: 50px;
}

.location-link {
  display: flex;
  align-items: center;
  gap: 10px;

  color: var(--white-color);
}
