@import url(../utils/_vars.scss);

.page-header {
  position: fixed;
  top: 0;
  left: 0;

  padding: 12px 0;
  width: 100%;

  transition: background-color $transitionDuration $transitionTimingFunction;
}

.page-header__container {
  height: 100%;
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__right {
  display: flex;
  align-items: center;
}

.page-header__navigation {
  margin-right: 56px;
}

.page-header__navigation-list {
  display: flex;
  gap: 40px;
}

.page-header__navigation-link {
  font-weight: 500;
  color: $lightBackgroundColor;

  transition: color $transitionDuration $transitionTimingFunction;

  &:hover {
    color: $accenTextColor;
  }
}

.page-header__contacts {
  display: flex;
  align-items: center;
  gap: 15px;

  margin-right: 20px;
}

.page-header__button {
  margin-right: 20px;
}

.page-header__container {
    height: 100%;
  }

  .page-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__right {
    display: flex;
    align-items: center;
  }

  .page-header__navigation {
    margin-right: 56px;
  }

  .page-header__contacts {
    display: flex;
    align-items: center;
    gap: 15px;

    margin-right: 20px;
  }

  .page-header__button {
    margin-right: 20px;
  }

  .page-header__localisation {
    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
  }

  .page-header__localisation-text {
    font-weight: 500;
    color: $lighTextColor;
  }