@import url(../utils/_vars.scss);

.page-header {
  position: fixed;
  top: 0;
  left: 0;

  padding: 12px 0;
  width: 100%;

  transition: background-color $transitionDuration $transitionTimingFunction;

  &__container {
    height: 100%;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  .navigation {
    margin-right: 56px;
  }

  .navigation__list {
    display: flex;
    gap: 40px;
  }

  .navigation__item {
    font-weight: 500;
    color: $lightBackgroundColor;

    transition: color $transitionDuration $transitionTimingFunction;

    &:hover {
      color: $accenTextColor;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
