@import url(../utils/_vars.scss);

.page-header {
  position: fixed;
  top: 0;
  left: 0;

  height: 80px;
  width: 100%;

  transition: background-color $transitionDuration $transitionTimingFunction;
}

// .page-header__container {
// }
