.specification {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.specification__item {
  position: relative;

  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
}

.specification__heading {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--third-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
}
