@import url(../utils/_vars.scss);

.breadcrumbs {
  display: flex;
  gap: 10px;
  align-items: center;

  margin-bottom: 39px;
}

.breadcrumbs__item {
  display: flex;
  gap: 5px;
  align-items: center;

  padding: 10px;

  font-size: 12px;
  font-weight: 500;
  line-height: 15.6px;

  background-color: $secondAdditionalColors;
  border-radius: $borderRadius;
}

.breadcrumbs__item--current {
  color: $additionalTextColor;
}
