@import url(../utils/_vars.scss);

.btn {
  padding: 0;
  
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.button {
  padding: 18px 30px;

  font-family: inherit;
  font-size: 16px;
  color: $lighTextColor;

  background-color: $accentBackgroundColor;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;

    width: 100%;
  }
}

.button--nowrap {
  white-space: nowrap;
}

.button--bold {
  font-weight: 700;
}

.button--second-font {
  font-family: $thirdFontFamily;
}

.button--with-icon {
  display: inline-flex;
  gap: 10px;
  align-items: center;
}
