@import url(../utils/_vars.scss);

.contact-component {
  display: flex;
  align-items: center;
  gap: 15px;
}

.contact-component:hover .contact-component__icon {
  background-color: $accentBackgroundColor;
}

.contact-component:hover .contact-component__text {
  color: $accentTextColor;
}

.contact-component__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: $borderRadius;
  background-color: $additionalBackgroundColor;

  transition: all $transitionDuration $transitionTimingFunction;
}

.contact-component__text {
  max-width: 221px;

  font-weight: 600;
  color: $lighTextColor;

  transition: all $transitionDuration $transitionTimingFunction;
}

.contact-component__text--dark {
  font-weight: 600;
  color: $darkTextColor;
}

