@import url(../utils/_vars.scss);

.icon-btn:hover {
  background-color: $accentBackgroundColor;
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border: none;
  border-radius: $borderRadius;
  background-color: $additionalBackgroundColor;

  transition: all $transitionDuration $transitionTimingFunction;
  cursor: pointer;
}