@import url(../utils/_vars.scss);

// .navigation-component {
// }

.navigation-component__list {
  display: flex;
  gap: 40px;
}

.navigation-component__link {
  color: $lighTextColor;
  font-weight: 600;

  transition: color $transitionDuration $transitionTimingFunction;

  &:hover {
    color: $accentTextColor !important;
  }
}