@import url(../utils/_vars.scss);

// .navigation-component {
// }

.navigation-component__list {
  display: flex;
  gap: 40px;

  @media (max-width: 900px) {
    .page-header & {
      gap: 20px;
    }
  }

  @media (max-width: 768px) {
    .footer & {
      gap: 35px;
    }
  }
}

.navigation-component__link {
  color: $lighTextColor;
  font-weight: 600;

  transition: color $transitionDuration $transitionTimingFunction;

  &:hover {
    color: $accentTextColor !important;
  }
}

.navigation-component__link--dark {
  color: $darkTextColor;
}
