@import url(../../utils/_vars.scss);

.about__wrapper {
  position: relative;

  background-image: url(../images/main-page/about/map.svg);
  background-size: cover;
  background-position: 120% bottom 150px;
  background-repeat: no-repeat;
}

// .about {
// }

.about__title {
  margin-bottom: 15px;
}

.about__img {
  position: absolute;
  top: 165px;
  right: 0;

  width: 438px;
  height: 739px;
}