@import url(../../utils/_vars.scss);

.about__wrapper {
  position: relative;

  background-image: url(../../../images/main-page/about/map.svg);
  background-size: cover;
  background-position: 120% bottom 150px;
  background-repeat: no-repeat;
}

.about {
}

.about__title {
  margin-bottom: 15px;
}

.about__img {
  position: absolute;
  top: 165px;
  right: 0;

  width: 438px;
  height: 739px;
}

.scroll::-webkit-scrollbar {
  color: black;
  scrollbar-width: thin;
}

/* Для браузерів, які не підтримують стандарт, можна використовувати власні зображення скрола */
.scroll::-webkit-scrollbar {
  max-height: 5px;
  width: 6px; /* Задайте ширину скрола */
}

.scroll::-webkit-scrollbar-thumb {
  max-height: 1px;
  background-color: #b3b3b3; /* Задайте колір для віджету скрола */
  border-radius: 10px; /* Задайте закруглені кути для віджету скрола */
}