@import url(../../utils/_vars.scss);

.about__wrapper {
  position: relative;
}

// .about {
// }

.about__title {
  margin-bottom: 15px;
}

.about__img {
  position: absolute;
  top: 165px;
  right: 0;

  width: 438px;
  height: 739px;
}