@import url(../../utils/_vars.scss);

.consultation-and-export-wrapper {
  background-image: url(../images/main-page/about/map.svg);
  background-size: contain;
  background-position: center bottom -100px;
  background-repeat: no-repeat;
}

.consultation__section {
  margin-bottom: 0;
}

.consultation {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.consultation__title {
max-width: 878px;
}

.consultation__desc {
  max-width: 493px;
}