html,
body {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Inter Tight", sans-serif;
  color: var(--grey-color);
  font-size: 16px;
  line-height: calc(23 / 16);
  font-weight: 400;

  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img--inline {
  display: inline;
}

a {
  text-decoration: none;
  cursor: pointer;
}
