@import url(../utils/_vars.scss);

.section {
  padding-top: 150px;
  padding-bottom: 150px;
}

.section__title {
  margin-bottom: 100px;

  color: $darkTextColor;

  font-family: $secondaryFontFamily;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}

.section__title--light {
  color: $lighTextColor;
}

.section__title--accent {
  color: $accentTextColor;
}
