@import url(../utils/_vars.scss);

.main--padding-top {
  margin-top: 160px;
}

.section {
  padding-top: 150px;
  padding-bottom: 150px;

  @media (max-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.section--not-padding-top {
  padding-top: 0;
}

.section--100-padding-bottom {
  padding-bottom: 100px;
}

.section--dark {
  background-color: $darkBackgroundColor;
}

.section--grey {
  background-color: $secondAdditionalColors;
}

.section--background-line {
  background-image: url(../images/dark-background-line.svg);
  background-size: contain;
  background-position: center bottom 47px;
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    background-size: 210%;
    background-position: left bottom;
  }
}

.section--background-world {
  background-image: url(../images/world.svg);
  background-size: 100% 100%;
  background-position: center top -110px;
  background-repeat: no-repeat;

  @media (max-width: 1200px) {
    background-size: 130% 100%;
  }

  @media (max-width: 768px) {
    background-size: 185%;
    background-position: center top;
  }
}

.section-title-desc {
  display: flex;
  flex-direction: column;
  gap: 45px;

  margin-bottom: 100px;

  @media (max-width: 768px) {
    gap: 40px;

    margin-bottom: 40px;
  }
}

.section-title-desc--space-between {
  justify-content: space-between;
  flex-direction: row;

  & .section-title-desc__desc {
    align-self: flex-end;
  }

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.section-title-desc__title {
  max-width: 762px;

  color: $darkTextColor;
  font-family: $secondaryFontFamily;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 28px;
  }
}

.section-title-desc__title--light {
  color: $lighTextColor;
}

.section-title-desc__title--accent {
  color: $accentTextColor;
}

.section-title-desc__desc {
  max-width: 622px;
}

.section-title-desc__desc--second-color {
  color: $firstAdditionalColors;
}
.section-title-desc__desc--third-color {
  color: $additionalTextColor;
}
