.comparison__wrapper {
  position: relative;
}

.comparison__section {
  margin-bottom: 180px;

  @media (max-width: 768px) {
    margin-bottom: 140px;
  }
}

.comparison {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1919px) {
    flex-direction: column-reverse;
  }
}

.comparison__first-wrapper {
  position: relative;

  @media (max-width: 1919px) {
    display: flex;
    justify-content: center;
  }
}

.comparison__first {
  position: absolute;
  left: 0;

  display: flex;

  @media (min-width: 1919px) {
    right: 0;
    margin-left: -300px;
    position: relative;
  }

  @media (max-width: 1919px) {
    position: relative;
    margin-left: 0;
    width: 100%;
  }

  @media (max-width: 600px) {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
  }
}

.comparison__first,
.comparison__first-image-container {
  width: 1062px;
  height: 706px;

  @media (max-width: 1200px) {
    width: 840px;
    height: 558px;
  }

  @media (max-width: 900px) {
    width: 555px;
    height: 368px;
  }

  @media (max-width: 600px) {
    width: 375px;
    height: 249px;
  }
}

.comparison__first-image-container {
  position: relative;
}

.comparison__first-image-container img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.comparison__first-before img {
  object-position: left;
}

.comparison__first-after img {
  object-position: right;
}

.comparison__first-divider {
  position: absolute;
  left: 50%;
  top: 0 !important;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100%;
  width: 2px;
}

.comparison__first-divider-after,
.comparison__first-divider-before {
  width: 3px;
  height: 100%;
  background-color: var(--white-color);
}

.comparison__first-after {
}

.comparison__first-divider-button {
  // position: absolute;
  // top: 50% !important;
  // left: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;

  width: 59px;
  height: 59px;
  min-width: 59px;
  min-height: 59px;

  border-radius: 50%;
  border: 3px solid var(--white-color);
  background-color: transparent;

  cursor: pointer;

  @media (max-width: 768px) {
    gap: 4px;

    min-width: 39px;
    min-height: 39px;
  }
}

.comparison__first-divider svg {
  @media (max-width: 768px) {
    height: 10px;
    width: 10px;
  }
}

.comparison__second {
  padding: 60px 0 54px 0;
}

.comparison__title {
  margin-bottom: 130px;

  @media (max-width: 1919px) {
    margin-bottom: 20px;
  }
}

.comparison__second-link {
  display: flex;
  gap: 10px;
  align-items: center;

  line-height: normal;
  color: var(--grey-color);
}
