@import url(../../utils/_vars.scss);

.consultation-and-export-wrapper--mob {
  background-image: none;

  @media (max-width: 768px) {
    background-image: url(../images/world.svg);
    background-size: 150%;
    background-position: center bottom 290px;
    background-repeat: no-repeat;
  }
}

.consultation-and-export-wrapper {
  background-image: url(../images/world.svg);
  background-size: contain;
  background-position: center bottom -100px;
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    background-image: none;
  }
}

.consultation__section {
  padding-top: 0;

  @media (max-width: 768px) {
    padding-bottom: 0;
  }
}

.consultation {
  display: flex;
  gap: 20px;
  justify-content: space-between;

  @media (max-width: 900px) {
    flex-direction: column;
    gap: 40px;
  }

  @media (max-width: 768px) {
    gap: 0;
  }
}

.consultation__title-desc {
  @media (max-width: 900px) {
    margin-bottom: 0;
  }
}

.consultation__title {
  max-width: 878px;
}

.consultation__desc {
  max-width: 493px;
}

.consultation__btn {
  display: inline-flex;
  gap: 10px;
  align-items: center;
}
