@import url(../../utils/_vars.scss);

.cooperation {
  display: flex;
  gap: 148px;

  @media (max-width: 1550px) {
    gap: 50px;
  }

  @media (max-width: 900px) {
    gap: 25px;
  }

  @media (max-width: 768px) {
    display: block;
  }
}

// .cooperation__first-block {
// }

.cooperation__img-wrap {
  position: relative;

  min-height: 1141px;

  @media (max-width: 768px) {
    min-height: auto;
    margin: 0 -20px;
  }
}
.cooperation__img-wrap img {
  position: absolute;
  right: 0;

  min-width: 822px;
  height: 1141px;

  @media (max-width: 768px) {
    position: static;

    min-width: auto;
    height: auto;
    width: 100%;
  }
}

.cooperation__second-block {
  width: 50%;
  margin-top: 130px;

  @media (max-width: 768px) {
    width: 100%;
    margin-top: 60px;
  }
}

.cooperation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 31px;

  @media (max-width: 768px) {
    gap: 20px;

    width: 100%;
  }
}

.cooperation-item {
  display: flex;
  flex-direction: column;

  width: 46%;

  border-top: 1px solid $firstAdditionalColors;

  @media (max-width: 1200px) {
    width: 100%;
  }
}

.cooperation-item__number {
  padding: 42px 0;

  color: $accentTextColor;
  font-family: $secondaryFontFamily;
  font-size: 84px;
  font-style: normal;
  font-weight: 200;
  text-transform: uppercase;

  @media (max-width: 768px) {
    padding: 25px 0;

    font-size: 50px;
  }
}

.cooperation-item__title {
  margin-bottom: 14px;

  font-size: 24px;
  font-weight: 600;
  line-height: 27px;

  @media (max-width: 768px) {
    font-size: 22px;
  }
}
