@import url(../../utils/_vars.scss);

.hero {
  background-color: $darkBackgroundColor;
  background-image: url(../images/main-page/hero/line.svg);
  background-size: contain;
  background-position: center bottom 198px;
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    background-size: 210%;
    background-position: 79% 98%;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  min-height: 1014px;

  @media (max-width: 768px) {
    min-height: 768px;
  }
}

.hero-title__wrapper {
  display: flex;
  justify-content: center;

  padding-top: 230px;

  @media (max-width: 768px) {
    padding-top: 122px;
  }
}

.hero-title {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (max-width: 768px) {
    gap: 16px;
  }
}

.hero-title__first,
.hero-title__second {
  display: flex;
  gap: 20px;
  align-items: center;

  @media (max-width: 768px) {
    gap: 16px;
  }
}

.hero-title__first {
  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.hero-title__second {
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.hero-title__first-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 50px;
  min-height: 50px;
  width: 50px;
  height: 50px;

  background-color: #0a0a0d;
  border-radius: 50%;
}

.hero-title__first-icon img {
  fill: $accentTextColor;
}

.hero-title__second-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 87px;
  width: 87px;
  min-height: 50px;
  height: 50px;

  border-radius: 36px;
  background-color: $accentBackgroundColor;

  cursor: pointer;
}

.hero-title__text {
  font-family: $secondaryFontFamily;
  font-size: 50px;
  font-weight: 600;
  color: $lighTextColor;
  text-transform: uppercase;

  @media (max-width: 1550px) {
    font-size: 45px;
  }

  @media (max-width: 1200px) {
    font-size: 32px;
  }

  @media (max-width: 900px) {
    font-size: 26px;
  }

  @media (max-width: 768px) {
    font-weight: 500;
    text-align: center;
  }
}

.hero-second-block {
  position: relative;

  flex-grow: 1;

  height: 640px;

  background-image: url(../images/main-page/hero/hero-auto.png);
  background-size: cover;
  background-position: left top 20px;
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    height: 334px;

    background-size: auto 334px;
  }
}

.hero-call-action {
  position: absolute;
  top: 0;
  right: 15.5%;

  @media (max-width: 768px) {
    right: 20px;
  }
}
