@import url(../utils/_vars.scss);

.form-field__wrapper {
  position: relative;
}

.form-field,
.form-field__custom-placeholder {
  display: flex;
  align-items: center;

  height: 59px;
  padding: 20px 30px;
}

.form-field {
  width: 100%;

  color: inherit;
  font-family: $thirdFontFamily;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;

  border-radius: $borderRadius;
  border: 1px solid $firstAdditionalColors;

  resize: none;
}

textarea.form-field {
  height: 140px;
}

.form-field__custom-placeholder {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;

  font-weight: 500;

  pointer-events: none;
}

.form-field__custom-placeholder--space-between {
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.form-field__custom-placeholder--accent {
  color: $accentTextColor;
  font-weight: 700;
}

.form-field__custom-placeholder--hidden {
  display: none;
}
