// text
$darkTextColor: #15161a;
$lighTextColor: #ffffff;
$accentTextColor: #64B500;
$additionalTextColor: #8C8C8C;

// background
$darkBackgroundColor: #15161a;
$lightBackgroundColor: #ffffff;
$accentBackgroundColor: #64B500;
$additionalBackgroundColor: #8C8C8C;

// additional colors 
$firstAdditionalColors: #DBDBDB;

//fonts
$secondaryFontFamily: "Unbounded", sans-serif;
$thirdFontFamily: "Inter", sans-serif;

//other
$borderRadius: 5px;
$transitionDuration: 250ms;
$transitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);

// alt Railcon Hots S.P.K