// text
$darkTextColor: #15161a;
$lightBackgroundColor: #ffffff;
$accentBackgroundCOlor: #64B500;

// background
$darkBackgroundColor: #15161a;
$lightBackgroundColor: #ffffff;
$accentBackgroundColor: #64B500;
$additionalBackgroundColor: #8C8C8C;

//other
$secondaryFontFamily: "Unbounded", sans-serif;
$thirdFontFamily: "Inter", sans-serif;
$transitionDuration: 250ms;
$transitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);